body{
    font-family: 'Bangers', cursive;
    background-color: #0e101c;
    color: #ffffff;
}
.navbar-dark .navbar-brand, .navbar-dark .nav-link{
    color: #f9a602 !important;
}
.navbar-dark .nav-link:hover{
    color: #ffd700 !important;
}
.container h1{
    color: #f9a602;
}
.video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.video-background video{
    min-width: 100vw;
    min-height: 100vh;
}
.navbar-brand img{
    height: 30px;
    width: auto;
}
.navbar .dropdown-menu{
    background-color: #333;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #555;
}

.news-item{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.news-item h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.news-item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.news-item p{
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
}